---
import MainLayout from "@layouts/MainLayout.astro";
import BackgroundAnimation from "@components/ui/BackgroundAnimation.astro";
import SkillsSection from "@components/skills/SkillsSection.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { skillsDetails } from "@/data/skillDetails";

const title = "Compétences - Ryan PINA-SILASSE";
const description =
  "Développeur full stack maîtrisant React, Go, Next.js, TypeScript, Node.js, Python et les technologies web modernes. Expérience en développement mobile, plateformes cloud et outils DevOps.";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { languages, frameworks, mobile, tools, databaseCloud, testing, devops } =
  skillsDetails;
---

<MainLayout title={title} description={description}>
  <BackgroundAnimation />
  <div class="flex flex-col min-h-screen py-16 px-4">
    <div id="skills">
      <h3 class="text-5xl font-semibold text-indigo-500 text-center">
        {t("skills.title")}
      </h3>
      <hr class="my-8 border-t border-indigo-700 w-1/2 mx-auto" />
    </div>

    <SkillsSection skills={languages} category="languages" lang={lang} />
    <SkillsSection skills={frameworks} category="frameworks" lang={lang} />
    <SkillsSection skills={mobile} category="mobile" lang={lang} />
    <SkillsSection
      skills={databaseCloud}
      category="databaseCloud"
      lang={lang}
    />
    <SkillsSection skills={testing} category="testing" lang={lang} />
    <SkillsSection skills={devops} category="devops" lang={lang} />
    <SkillsSection skills={tools} category="tools" lang={lang} />
  </div>
</MainLayout>
